body {}

a,
a:link,
a:visited,
a.read-more.button:not(),
a.read-more.button:link:not(),
a.read-more.button:visited:not() {
    text-decoration: none;
    color: var(--accent);
    cursor: pointer;
}
    .darkmode a,
    .darkmode a:link,
    .darkmode a:visited {
        color: var(--accentdm);
    }

a:hover,
a:active,
a.read-more.button:hover:not(),
a.read-more.button:active:not() {
    color: var(--highlight);
}
    .darkmode a:hover,
    .darkmode a:active {
        color: var(--highlightdm);
    }

.gb-button,
a.gb-button,
a.gb-button:link,
a.gb-button:visited,
span.gb-button,
span.gb-button:link,
span.gb-button:visited {
    color: var(--white);
    background-color: var(--accent);
}

.gb-button,
a.gb-button:hover,
a.gb-button:active,
span.gb-button:hover,
span.gb-button:active {
    color: var(--white);
    background-color: var(--highlight);
}