
.mediainfo,
.infomedia {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
		"media"
		"info";
}
.infomedia {
	grid-template-areas: 
		"info"
		"media";
}

	@media screen(smallscreen) {}

	@media screen(mediumxscreen) {

		.mediainfo,
		.infomedia {
			grid-template-columns: 1fr 1fr;
			grid-template-areas: 
				"media info";
		}
		.infomedia {
			grid-template-areas: 
				"info media";
		}

		.mediainfo.spread,
		.infomedia.spread {
			grid-template-columns: 1fr minmax(auto, 416px) minmax(auto, 416px) 1fr;
		}
		.mediainfo.spread .media,
		.infomedia.spread .info {
			display: inline-grid;
			grid-column-start: 1;
			grid-column-end: 3;
		}
		.mediainfo.spread .info,
		.infomedia.spread .media {
			display: inline-grid;
			grid-column-start: 3;
			grid-column-end: 5;
		}
		.mediainfo.spread .media.nospread,
		.infomedia.spread .info.nospread {
			display: inline-grid;
			grid-column-start: 2;
			grid-column-end: 3;
		}
		.mediainfo.spread .info.nospread,
		.infomedia.spread .media.nospread {
			display: inline-grid;
			grid-column-start: 3;
			grid-column-end: 4;
		}

		.mediainfo.spread.maxwidth-medium,
		.infomedia.spread.maxwidth-medium {
			grid-template-columns: 1fr minmax(auto, 384px) minmax(auto, 384px) 1fr;
		}

	}

	@media screen(largexscreen) {

		.mediainfo.spread,
		.infomedia.spread {
			grid-template-columns: 1fr minmax(auto, 544px) minmax(auto, 544px) 1fr;
		}

		.mediainfo.spread.maxwidth-mediumx,
		.infomedia.spread.maxwidth-mediumx {
			grid-template-columns: 1fr minmax(auto, 416px) minmax(auto, 416px) 1fr;
		}
		.mediainfo.spread.maxwidth-large,
		.infomedia.spread.maxwidth-large {
			grid-template-columns: 1fr minmax(auto, 512px) minmax(auto, 512px) 1fr;
		}

	}

	@media screen(largerscreen) {

		.mediainfo.spread.maxwidth-largex,
		.infomedia.spread.maxwidth-largex {
			grid-template-columns: 1fr minmax(auto, 544px) minmax(auto, 544px) 1fr;
		}
		.mediainfo.spread.maxwidth-larger,
		.infomedia.spread.maxwidth-larger {
			grid-template-columns: 1fr minmax(auto, 640px) minmax(auto, 640px) 1fr;
		}
	}


.mediainfo .info.edges,
.mediainfo .media.edges,
.infomedia .info.edges,
.infomedia .media.edges {
	padding: 32px;
}

.info {
	grid-area: info;
	background-color: yellow;
}

.media {
	grid-area: media;
	background-color: orange;
}