.tooltip {
	padding-left: 1rem;
	border-left: 5px solid #e3242b;
}

.codetip {
	@apply mb-main p-tiny text-smaller;
	outline: var(--line-borderwidth) solid var(--line-color);
	outline-color: var(--lightest-color);
	padding: 0.5rem;
}