.has-main-color {
	color: var(--main);
}
.has-accent-color {
	color: var(--accent);
}
.has-highlight-color {
	color: var(--highlight);
}
.has-maindm-color {
	color: var(--maindm);
}
.has-accentdm-color {
	color: var(--accentdm);
}
.has-highlightdm-color {
	color: var(--highlightdm);
}

.text-main {
	color: var(--main);
}
.text-accent {
	color: var(--accent);
}
.text-highlight {
	color: var(--highlight);
}
.text-maindm {
	color: var(--maindm);
}
.text-accentdm {
	color: var(--accentdm);
}
.text-highlightdm {
	color: var(--highlightdm);
}

.has-black-color {
	color: var(--black);
}
.has-darkest-color {
	color: var(--darkest);
}
.has-darker-color {
	color: var(--darker);
}
.has-dark-color {
	color: var(--dark);
}
.has-mid-color {
	color: var(--mid);
}
.has-light-color {
	color: var(--light);
}
.has-lighter-color {
	color: var(--lighter);
}
.has-lightest-color {
	color: var(--lightest);
}
.has-lightest-2-x-color {
	color: var(--lightest2x);
}
.has-lightest-3-x-color {
	color: var(--lightest3x);
}
.has-lightest-4-x-color {
	color: var(--lightest4x);
}
.has-white-color {
	color: var(--white);
}

.text-black {
	color: var(--black);
}
.text-darkest {
	color: var(--darkest);
}
.text-darker {
	color: var(--darker);
}
.text-dark {
	color: var(--dark);
}
.text-mid {
	color: var(--mid);
}
.text-light {
	color: var(--light);
}
.text-lighter {
	color: var(--lighter);
}
.text-lightest {
	color: var(--lightest);
}
.text-lightest2x {
	color: var(--lightest2x);
}
.text-lightest3x {
	color: var(--lightest3x);
}
.text-lightest4x {
	color: var(--lightest4x);
}
.text-white {
	color: var(--white);
}

.has-main-background-color {
	color: var(--main);
}
.has-accent-background-color {
	color: var(--accent);
}
.has-highlight-background-color {
	color: var(--highlight);
}
.has-maindm-background-color {
	color: var(--maindm);
}
.has-accentdm-background-color {
	color: var(--accentdm);
}
.has-highlightdm-background-color {
	color: var(--highlightdm);
}

.bg-main {
	color: var(--main);
}
.bg-accent {
	color: var(--accent);
}
.bg-highlight {
	color: var(--highlight);
}
.bg-maindm {
	color: var(--maindm);
}
.bg-accentdm {
	color: var(--accentdm);
}
.bg-highlightdm {
	color: var(--highlightdm);
}

.has-black-background-color {
	background-color: var(--black);
}
.has-darkest-background-color {
	background-color: var(--darkest);
}
.has-darker-background-color {
	background-color: var(--darker);
}
.has-dark-background-color {
	background-color: var(--dark);
}
.has-mid-background-color {
	background-color: var(--mid);
}
.has-light-background-color {
	background-color: var(--light);
}
.has-lighter-background-color {
	background-color: var(--lighter);
}
.has-lightest-background-color {
	background-color: var(--lightest);
}
.has-lightest-2-x-background-color {
	background-color: var(--lightest2x);
}
.has-lightest-3-x-background-color {
	background-color: var(--lightest3x);
}
.has-lightest-4-x-background-color {
	background-color: var(--lightest4x);
}
.has-white-background-color {
	background-color: var(--white);
}

.bg-black {
	background-color: var(--black);
}
.bg-darkest {
	background-color: var(--darkest);
}
.bg-darker {
	background-color: var(--darker);
}
.bg-dark {
	background-color: var(--dark);
}
.bg-mid {
	background-color: var(--mid);
}
.bg-light {
	background-color: var(--light);
}
.bg-lighter {
	background-color: var(--lighter);
}
.bg-lightest {
	background-color: var(--lightest);
}
.bg-lightest2x {
	background-color: var(--lightest2x);
}
.bg-lightest3x {
	background-color: var(--lightest3x);
}
.bg-lightest4x {
	background-color: var(--lightest4x);
}
.bg-white {
	background-color: var(--white);
}