:root {
  --main: #555555;
  --maindm: #f0f0f0;
  --accent: #1e73be;
  --accentdm: #d0e5f8;
  --highlight: #4799e2;
  --highlightdm: #f2f8fd;

  --black: #000000;
  --darkest: #0C0C0C;
  --darker: #191919;
  --dark: #333333;
  --mid3x: #444444;
  --mid2x: #555555;
  --mid: #666666;
  --light: #999999;
  --lighter: #cccccc;
  --lightest: #e5e5e5;
  --lightest2x: #efefef;
  --lightest3x: #f0f0f0;
  --lightest4x: #f9f9f9;
  --white: #ffffff;

  --line-borderwidth: 1px;

  --width-tiny: 20rem;
  --width-small: 32rem;
  --width-medium: 48rem;
  --width-mediumx: 49rem;
  --width-large: 64rem;
  --width-largex: 65rem;
  --width-larger: 75rem;

  --width-mobile: 48rem;
  --width-tablet: 64rem;
  --width-desktop: 80rem;

  --shadow-inner-top: inset 0px 100px 20px -100px rgba(0,0,0,0.15);
  --shadow-inner-dark-top: inset 0px 100px 40px -100px rgba(0,0,0,0.25);
  --shadow-inner-darker-top: inset 0px 100px 60px -100px rgba(0,0,0,0.5);
  --shadow-inner-bottom: inset 0px -100px 20px -100px rgba(0,0,0,0.15);
  --shadow-inner-dark-bottom: inset 0px -100px 40px -100px rgba(0,0,0,0.25);
  --shadow-inner-darker-bottom: inset 0px -100px 60px -100px rgba(0,0,0,0.5);

  --shadow-outer-lighter: 2px 2px 4px 0px rgba(0,0,0,0.15);
  --shadow-outer-light: 3px 3px 8px 0px rgba(0,0,0,0.15);
  --shadow-outer: 5px 5px 20px 0px rgba(0,0,0,0.25);
  --shadow-outer-dark: 5px 5px 20px 0px rgba(0,0,0,0.5);
  --shadow-outer-darker: 5px 5px 20px 0px rgba(0,0,0,0.75);

  --shadow-edge-top: 0 -8px 6px -6px rgba(0,0,0,0.25);
  --shadow-edge-dark-top: 0 -8px 6px -6px rgba(0,0,0,0.5);
  --shadow-edge-darker-top: 0 -8px 6px -6px rgba(0,0,0,0.75);

  --shadow-edge-bottom: 0 8px 6px -6px rgba(0,0,0,0.25);
  --shadow-edge-dark-bottom: 0 8px 6px -6px rgba(0,0,0,0.5);
  --shadow-edge-darker-bottom: 0 8px 6px -6px rgba(0,0,0,0.75);

  --shadow-floater: 0px 0px 60px 0px rgba(85,85,85,0.12);
}